*{
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
        box-sizing: border-box;
    }

/* 在声明全局 CSS 变量*/
:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

/* 大盒子 */
.chat{
    width: 100%;
    position: relative;
    height: 100%;

}


/* 左侧讨论组列表 */
.chatlist{
    width: 30%;
    position: relative;
    /* background-color:yellowgreen; */
    float: left;
    height: 100%;

}

/* .search{
    width: 220px;
    height: 214px;
} */

/* 搜索文本框 */
#search_1{
    width: 300px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    font-family: sans-serif;
    float: left;
    margin-top: 5px;
    border: 1px solid var(--light);
    margin-left: 5px;
    background-color: #eceff1;
}


/* 搜索图片 */
/* #search_img{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    background-image: url(/img/search.png);
    width: 40px;
    height: 40px;
} */
img{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
}

.list{
    width: 100%;
}

/* 讨论组总列表 */
.list_1{
    width: 100%;
    float: left;
    height: 500px;
    /* background-color: var(--black); */
    position: relative;
    float: left;
}

/* 单条记录 */
.list_2{
    height: 80px;
    /* background-color: yellow; */
    position: relative;
    border-bottom-style:  solid;
    border-color:var(--light);
    /* border:1px; */
}


/* 讨论组图标 */
.list_3{
    width: 50px;
    height: 50px;
    
}


/* 讨论组标题 */
.list_4{
    padding: 5px 5px;
    margin-top: 5px;
    float: left;
    max-width: 230px;
    overflow:hidden;
    width: 200px;
    height: 25px;

}

/* 讨论组时间 */
.list_time{
    float: right;
    margin-top: 8px;
    position: absolute;
    font-size: 13px;
}

/* 讨论组内容 */
.list_5{
    float: left;
    position: relative;
    margin-top: 42px;
    margin-left: -197px;
}


/* 列表点击改变样式 */
.list_2.active{
    background-color:var(--blue);
}
.list_2:hover{
    background-color: var(--blue);
}


/* 聊天页面 */
.box{
    width: 70%;
    position: relative;
    display: block; 
    top: 50%;
    left: 35%;
    height: 100%;
    /* background-color: wheat; */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    float: left;
}





.header{
    background: url(../img/logo.png) no-repeat;
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 100%;
    background-color: hsla(0, 41%, 55%, 0.158);
    line-height: 45px;
    color:black;
}
.content{
    border: 1px solid black;
    width: 100%;
    position: relative;
    /* 设置弹性盒元素的方向
    如果元素不是弹性盒对象的元素，则 flex-direction 属性不起作用 */
    flex-direction:column;
    /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    display: block;
    /* Flex"弹性布局"，用来为盒状模型提供最大的灵活性。设为Flex布局以后，子元素的float、clear和vertical-align属性将失效。 */
    display: flex;
    /* 裁剪内容 - 提供滚动机制 */
    overflow-y: scroll;
    /* background-color: yellowgreen; */
    height: calc(100% - 54px);
}

.date{
    position: relative;
    text-align: center;
    font-size: 14px;
    color:black;
}
.chat-list{
    width: 100%;
    margin-bottom: 20px;
    /*overflow-wrap
     normal:表示在正常的单词结束处换行。
    break-word:表示如果行内没有多余的地方容纳该单词到结尾，则那些正常的不能被分割的单词会被强制分割换行。 */
    overflow-wrap:break-word;

}

.chat-list .himg{
    background: url(../img/user1.jpg) no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    float: left;
    margin-top: 10px;
}

.chat-list .himg.right{
    float: right;
    background: url(../img/user1.jpg) no-repeat;
    width: 40px;
    height: 40px;
    /* 规定背景图像的尺寸 */
    background-size: 100% 100%;
    margin-top: 10px;
}

.chat-list .userlist{
    font-size: 12px;
    left: 60px;
    top: 0;
    padding-left: 5px;
    /* background-color: var(--blue); */
    float: left;

}

.chat-list .userlist.right{
    font-size: 12px;
    left: 60px;
    top: 0;
    padding-left: 5px;
    float: right;
    /* background-color: royalblue; */
}

.comment{
    font-size: 15px;
    position: relative;
    display: inline-block;
    /* 左右均不允许浮动 */
    clear: both;
    padding: 11px 14px;
    /* 把元素的顶端与行中最高元素的顶端对齐 */
    vertical-align: top;
    border-radius: 5px;

}

.comment:before{
    position: absolute;
    display: block;
    top:19px；
    width：8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
    
}

.comment.you{
    float: left;
    background-color:var(--blue);
    /* 元素位于容器的开头。弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴起始边界。 */
    align-self: flex-start;
    margin-left: 45px;
    margin-top: -31px;
}

.comment .you:before{
    background-color: var(--blue);
    left: -3px;
}

.comment.me{
    float: right;    /* 元素位于容器的开头。弹性盒子元素的侧轴（纵轴）起始位置的边界紧靠住该行的侧轴起始边界。 */
    align-self: flex-start;
    margin-right: 45px;
    margin-top: -30px;
    background-color:var(--light);
}

.userjoin{
    text-align: center;
}

/* 底部大div */
/* .write{
    bottom: 0px;
    height: 50px;
    position: absolute;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    background-color: pink;
    width: calc(100% - 58px);
} */

 .write {
    position: absolute;
    width: 100%;
    bottom: 4px;
    height: 42px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    /* width: calc(100% - 58px); */
    border-radius: 5px;
} 


/* 输入框 */
.write input{
    float: left;
    width:calc(100% - 100px);
    height: 40px;
    border: 1px solid red;
    outline: none;
}

/* 文件图标 */
.write .write-link.attach:before{
    display: inline-block;
    float: left;
    width: 20px;
    height: 43px;
    content: '';
    background: url(../img/attachment.png) no-repeat;
    background-position: center;

}

/* 表情图标 */
.write .write-link.smiley:before{
    display: inline-block;
    float:left;
    width: 20px;
    height: 43px;
    content: '';
    background-image: url(../img/smiley.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* 发送图标 */
.write .write-link.send:before{
    display: inline-block;
    float:left;
    width: 20px;
    height: 43px;
    margin-left: 11px;
    content: '';
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    background-position: center;
}